body {
    min-height: 2800px;
    min-width: 2800px;
    overflow: auto;
    background: rgb(217, 128, 234);
  }

.first{
    font-weight:bolder;
    font-size:40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position: absolute;
    left:0;
    top:0;
}

.second{
    font-weight:bolder;
    font-size:40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position: absolute;
    right:0;
    top:0;
}

.third{
    font-weight:bolder;
    font-size:40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position: absolute;
    right:0;
    bottom:0;
}

.fourth{
    font-weight:bolder;
    font-size:40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position: absolute;
    left:0;
    bottom:0;
}

