* { 
    margin: 0;  
  }

  .grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    height: 100vh;                         
    width: 100vw;                          
}

  .grid-item {
    /*background-image: url('quilt/geogeo.jpg');*/
    background-size: cover; 
    background-position: center; 
    height: 20vh;                         
    width: 20%;   
}

.item1 { background-color: linear-gradient(#e58942, #beb314 ); } 
.item2 { background-color: #131f15; }
.item3 { background-color: #161924; } 
.item4 { background-color: #6d6d09; } 
.item5 { background-color: #391339; } 
.item6 { background-color: #206767; } 
.item7 { background-color: #573f11; } 
.item8 { background-color: #251325; } 
.item9 { background-color: #232014; } 
.item10 { background-color: #524745; } 
.item11 { background-color: #524745; } 
.item12 { background-color: #131f15; }
.item13 { background-color: #161924; } 
.item14 { background-color: #6d6d09; } 
.item15 { background-color: #391339; } 
.item16 { background-color: #206767; } 
.item17 { background-color: #573f11; } 
.item18 { background-color: #251325; } 
.item19 { background-color: #232014; } 
.item20 { background-color: #232014; } 
